.show-group{
  background-color: #79fbf5;
  height: 100%;
}

.show-wrap{
  display: flex;
}

.show_name{
  margin-left: 25vw;
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
}


.show-description{
  margin-left: 50vw;
  margin-bottom: 30px;
  font-size: 20px;
}

.show-img{
  margin-left: 40vw;
  margin-top: 20px;
}

.show-play{
  margin-left: 50vw;
}


.tweet_delete{
  margin-left: 41vw;
}

.container{
  display: flex;
  display: initial;
}

h5{
  margin-left: 50%;
}

h6{
  margin-left: 41%;
}