.from-wrap{
  background-color: #79fbf5;
  min-height: 100vh;
  max-width: 1920px;
}

.from-text-wrap{
  display: flex;
}

.form-text{
  margin-left: 50%;
}

.indispensable{
  margin-left: 50%;
}

.input-name{
  border: 1px solid black;
  margin-left: 50%;
}


.input-default{
  height: 250px;
  width: 500px;
  border: 1px solid black;
  margin-left: 50%;
}

.input-email{
  margin-left: 50%;
  width: 300px;
  border: 1px solid black;
}

.input-password{
  width: 300px;
  border: 1px solid black;
  margin-left: 50%;
}

.info-text{
  margin-left: 50%;
}

h2{
  padding: 60px;
}

.register-red-btn{
  border: 1px solid black;
  margin-left: 50%;
  padding: 3px;
}

.back-btn-singup{
  margin-left: 50%;
  color: black;
}

@media screen and (max-width: 767px){
  .from-wrap{
    height: 100%;
    width: 767px;
    background-color: gray;
  }
  .input-default{
    width: 45%;
  }
}