/* 同盟クラスはregistrations.cssに記載している */

.login-from-wrap{
  background-color: #79fbf5;
  min-height: 100vh;
  max-width: 1920px;
}

h3{
  margin-left: 50%;
}

.login-red-btn{
  border: 1px solid black;
}

.login-red-btn{
  margin-left: 50%;
  padding: 2px;
}

.back-btn-login{
  margin-left: 50%;
  color: black;
}

@media screen and (max-width: 767px){
  .login-from-wrap{
    height: 100%;
    width: 767px;
  }
}

