.main{
  background-color: #79fbf5;
  display: flex;
  min-height: 100vh;
}

.op{
  background-color: #11233d;
  padding: 100px 25px;
  min-width: 150px;
}

.edit{
  width: auto;
}

.edit{
  color: #ffffff;
  background-color: #11233d;
  padding: 100px 0px 0px 25px;
}

.myinfos{
  display: flex;
}


h2{
  margin-left: 45vw;
}

.main-table{
  display: flex;
}

table{
  border: solid 5px #11233d;
  margin-left: 30vw;
}

th{
  border: solid 1px #11233d;
}

td{
  border: solid 1px #11233d;
}

.mytweets{
  display: flex;
}

.mytweet{
  margin-left: 45vw;
  margin-top: 100px;
}

@media screen and (max-width: 767px){
  .main{
    height: 100%;
    width: 767px;
  }
}