.main{
  background-color: #79fbf5;
  display: flex;
}

.option{
  display: flex;
}

.edit{
  color: #11233d;
  margin: 50px 0px 0px 30px;
}

.myinfos{
  display: flex;
}

.myinfo{
  margin-top: 50px;
}


h2{
  margin-left: 45vw;
}

.main-table{
  display: flex;
}

table{
  border: solid 5px #11233d;
  margin-left: 30vw;
}

th{
  border: solid 1px #11233d;
}

td{
  border: solid 1px #11233d;
}

.mytweets{
  display: flex;
}

.mytweet{
  margin-left: 45vw;
  margin-top: 100px;
  width: 8em
}